
body{
    overflow-x: hidden;
}

.homeTitle{
    width: 1024px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
.home-container {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    margin-top: -.512%;
    margin-left: -.512%;
    margin-right: -.512%;
}

  .carousel-container {
    width: 100%;
    height: 50%;
  }
  