  /* src/pages/login/Login.css */
  .login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    /* Lighter background color */
}

.login-container {
    background-color: #ffffff;
    /* Lighter background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
}

.login-form {
    padding: 30px;
}

.login-form h1 {
    text-align: center;
    color: #333;
    /* Darker text color for better contrast */
    margin-bottom: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    /* Slightly darker border color */
    border-radius: 6px;
    background-color: #f8f8f8;
    /* Lighter background color */
    color: #333;
    /* Darker text color for better contrast */
}

.login-form button {
    padding: 15px;
    font-size: 18px;
    background-color: #6158c1;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #363089;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link p {
    color: #555;
    /* Slightly darker text color for better contrast */
}

.register-link a {
    color: #6158c1;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
    color: #363089;
}


.error-message {
    color: #ff0000;
    margin-top: 5px;
    font-size: 14px;
}